@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #f2f2f2;
  margin:0;
  color: #333333;
}
html, body {
  height: 100%;
}
.header-nav a, .footer-phone, .catalog-result a {
  text-decoration: none;
}
.header-nav ul, .advantages-list, .service-list,
.socials, .breadcrumbs, .change-view-list, .catalog-cards, .pagination {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-wrapper {
  flex-direction: column;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
main {
  flex-grow: 1;
}
.btn, .catalog-card-btn {
  font-family: inherit;
  background-color: #756157;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 50px;
  border-radius: 4px;
}
.page-wrapper, .header-nav, .header-nav ul, .main-footer, .advantages-list,
.advantages-item-wide, .service-list, .filter-form, .filter-form fieldset,
.filter-buttons, .catalog-header, .change-view-list, .catalog-cards, .pagination {
  display: flex;
}
.header-nav {
  position: relative;
  min-height: 64px;
  padding: 0 70px;
}
.logo {
  align-self: start;
  margin-right: 30px;
}
.header-links {
  flex-wrap: wrap;
}
.header-links-item a {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  padding: 20px 16px;
}
.header-links-item a.active {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 25px;
}
.header-nav .header-icons {
  margin-left: auto;
}
.header-icons a {
  display: block;
  width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}
.header-favorites-link output {
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  border-radius: 10px;
}
.header-btn {
  margin-left: 20px;
  margin-top: 14px;
  align-self: start;
  white-space: nowrap;
}
.header-btn, .filter-form button,
.catalog-card-btn, .card-rating-row {
  font-size: 16px;
  line-height: 20px;
}
.main-index, .subscribe.no-background {
  text-align: center;
}
.main-index p, .main-index h2, .main-index h3,
.catalog-result-title, .no-background h2, .no-background p  {
  margin: 0;
}
.hero {
  background-color: rgba(130, 179, 211, 0.7);
  background-image: url(../images/divider.svg), url(../images/index-bg.jpg);
  background-position: center bottom -1px, center center;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-top: -10px;
}
.lead, .subscribe-title, .catalog-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.advantages > .lead {
  margin-top: 69px;
}
.advantages > .section-text {
  margin-top: 25px;
  margin-bottom: 90px;
}
.advantages h3, .service h3, .catalog-cards h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color:#000;
}
.advantages-list {
  flex-wrap: wrap;
}
.advantages-item, .service-item, .card-price-row {
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-wide > .advantages-item-info, .subscribe-btn,
.apply-filter-btn, .add-favorite-btn, .pagination-item a {
  background-color: rgba(130, 179, 211, 1);
  color:#fff;
}
.advantages-item h3 {
  width: 175px;
  margin: 0 auto;
}
.advantages-item-info {
  box-sizing: border-box;
  padding: 103px 85px;
  width: 400px;
}
.advantages-item-wide {
  width: 100%;
}
.service > .lead {
  margin-top: 64px;
}
.service > .section-text {
  margin-top: 20px;
  margin-bottom: 64px;
}
.service-item {
  width: 400px;
  height: 385px;
}
.service-item h3 {
  margin-top: 183px;
}
.service-item p {
  margin-top: 30px;
}
.service-item:nth-child(2), .card-price-row {
  background-color: #fff;
}
.search-section, .subscribe {
  padding: 96px;
}
.search-section > .lead, h2.subscribe-title {
  margin-bottom: 20px;
}
.search-section > .section-text, p.subscribe-text {
  margin-bottom: 54px;
}
.search-section-btn, .subscribe-btn {
  font-size: 20px;
  line-height: 36px;
  border: none;
}
.subscribe {
  background: url(../images/subscribe-bg.jpg) no-repeat rgba(130, 179, 211, 0.7);
  background-size: cover;
  padding-bottom: 104px;
}
.main-index .subscribe-title, .main-index .subscribe-text,
.advantages-item-wide h3 {
  color: #fff;
}
.subscribe-input, .price-filter input[type=number] {
  font-family: inherit;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
}
.main-footer {
  justify-content: space-between;
  padding: 40px 70px 30px;
}
.socials {
  width: 142px;
  background-color: rgba(130, 179, 211, 0.7);
}
.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000;
}
/*---CATALOG---*/

.filter {
  background: url(../images/catalog-bg.jpg) no-repeat rgba(130, 179, 211, 0.7);
  background-size: cover;
  color: #fff;
  padding: 35px 70px 70px;
}
.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs {
  margin-bottom: 40px;
}
.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}
.filter-form {
  align-items: start;
}
.filter-form fieldset {
  padding: 0;
}
.filter-form fieldset, .filter-form button, button.catalog-card-btn {
  border: none;
}
.infrastructure-filter {
  margin-right: 70px;
}
.housing-filter {
  margin-right: auto;
}
.filter-buttons {
  margin-left: 70px;
}
.infrastructure-filter, .housing-filter, .filter-buttons {
  flex-direction: column;
}
.filter-form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.filter-form label {
  font-size: 18px;
  line-height: 23px;
}
.price-filter input[type=number] {
  font-weight: bold;
  width: 143px;
}
.reset-filter-btn {
  background: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.catalog-result {
  padding: 50px 70px 60px;
}
.catalog-header {
  margin-bottom: 40px;
}
.catalog-header {
  align-items: center;
}
.catalog-select {
  font-family: inherit;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  appearance: none;
  padding: 14px 20px;
  margin-right: 70px;
  margin-left: auto;
}
.change-view-list {
  width: 160px;
  height:48px;
  background-color: #f2f2f2;
}
.catalog-cards {
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}
.catalog-card {
  width: 300px;
  padding: 20px;
}
.catalog-card h3 {
  text-transform: none;
  color: #000;
}
.away-favorite-btn {
  background-color: #7DB54F;
}
.card-rating-row span {
  display: block;
  background: #F2F2F2;
  text-transform: uppercase;
  color: #333333;
  border-radius: 4px;
}
.pagination {
  gap: 8px;
}
.pagination-item a, .pagination-skip {
  display: grid;
  width: 60px;
  height: 60px;
  place-items: center;
}
.pagination-item a {
  font-size: 20px;
  line-height: 36px;
  font-weight: bold;
  border-radius: 4px;
}
.pagination-item .pagination-current-page  {
  background-color: #f2f2f2;
  color: #000;
}
.subscribe.no-background {
  background: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
